apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - port: 5000        # service port inside cluster
      targetPort: 5000  # backend containerPort
  type: ClusterIP