apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  ports:
    - port: 80          # frontend service port
      targetPort: 80    # containerPort from frontend deployment
  type: NodePort         # exposes NodePort to external internet