name: "K3s-Terraform-Validate"

on:
  push:
    branches:
      - "**"

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: infra-k3s

    steps:
      - uses: actions/checkout@v3

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.3

      - run: terraform init

      - run: terraform fmt -check -diff

      - run: terraform validate